body {
    margin: 0;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 70px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;
    height: -webkit-fill-available;
}


.presentation {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-left: 7%;
    margin-top: 40px;
    margin-bottom: 100px;
    color: white;
}

.presentation h1 {
    margin-bottom: 5px;
}

.presentation li {
    font-size: 16px;
}

.canvas {
    text-align: center;
    width: 70%;
}

#canvas {
    width: 100%;
    height: 80vh;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    -webkit-box-shadow: 1px 1.5px 12.5px -1.5px #000000;
    -moz-box-shadow: 1px 1.5px 12.5px -1.5px #000000;
    box-shadow: 1px 1.5px 12.5px -1.5px #000000;
}

#canvas:active {
    cursor: crosshair;
}






#div-display {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}


#button {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(#464d55, #25292e);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-size: 18px;
    width: 70%;
    justify-content: center;
    line-height: 1;
    margin: 0;
    margin-bottom: 30px;
    outline: none;
    overflow: hidden;
    padding: 25px 32px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
}

#button:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .75;
}

#button:active {
    outline: 0;
}

#button:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}



#infos-rects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

h4 {
    width: 50%;
}

span {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    padding-left: 20px;
    justify-content: flex-start;
    width: 50%;
}

p {
    margin: 0;
}

#p-color {
    width: 15px;
    height: 15px;
    margin: 0;
}

#p-valeur {
    margin-left: 10px;
}